<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../templates/CSS/Styling.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="../templates/JS/Scripting.js"></script>
<h1 align="center">Create Your Player</h1>
<br><br>
<form>
    <div style="align-content: center;">
        Character Name:
        <input type="text" name="Name">
    </div>
    <br><br>
    <table style="width: 100%;">
        <tbody>
        <tr>
            <td>
                <div class="gallery" id="Barbarian" onclick="selectCharacterClass(this.id)">
                    <div class="desc">Barbarian</div>
                    <img src="../templates/images/DnD Classes/Barbarian.png" alt="Barbarian">
                </div>
            </td>
            <td>
                <div class="gallery" id="Bard" onclick="selectCharacterClass(this.id)">
                    <div class="desc">Bard</div>
                    <img src="../templates/images/DnD Classes/Bard.png" alt="Bard">
                </div>
            </td>
            <td>
                <div class="gallery" id="Cleric" onclick="selectCharacterClass(this.id)">
                    <div class="desc">Cleric</div>
                    <img src="../templates/images/DnD Classes/Cleric.png" alt="Cleric">
                </div>
            </td>
            <td>
                <div class="gallery" id="Druid" onclick="selectCharacterClass(this.id)">
                    <div class="desc">Druid</div>
                    <img src="../templates/images/DnD Classes/Druid.png" alt="Druid">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="gallery" id="Fighter" onclick="selectCharacterClass(this.id)">
                    <div class="desc">Fighter</div>
                    <img src="../templates/images/DnD Classes/Fighter.png" alt="Fighter">
                </div>
            </td>
            <td>
                <div class="gallery" id="Monk" onclick="selectCharacterClass(this.id)">
                    <div class="desc">Monk</div>
                    <img src="../templates/images/DnD Classes/Monk.png" alt="Monk">
                </div>
            </td>
            <td>
                <div class="gallery" id="Paladin" onclick="selectCharacterClass(this.id)">
                    <div class="desc">Paladin</div>
                    <img src="../templates/images/DnD Classes/Paladin.png" alt="Paladin">
                </div>
            </td>
            <td>
                <div class="gallery" id="Ranger" onclick="selectCharacterClass(this.id)">
                    <div class="desc">Ranger</div>
                    <img src="../templates/images/DnD Classes/Ranger.png" alt="Ranger">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="gallery" id="Rogue" onclick="selectCharacterClass(this.id)">
                    <div class="desc">Rogue</div>
                    <img src="../templates/images/DnD Classes/Rogue.png" alt="Rogue">

                </div>
            </td>
            <td>
                <div class="gallery" id="Sorcerer" onclick="selectCharacterClass(this.id)">
                    <div class="desc">Sorcerer</div>
                    <img src="../templates/images/DnD Classes/Sorcerer.png" alt="Sorcerer">

                </div>
            </td>
            <td>
                <div class="gallery" id="Warlock" onclick="selectCharacterClass(this.id)">
                    <div class="desc">Warlock</div>
                    <img src="../templates/images/DnD Classes/Warlock.png" alt="Warlock">

                </div>
            </td>
            <td>
                <div class="gallery" id="Wizard" onclick="selectCharacterClass(this.id)">
                    <div class="desc">Wizard</div>
                    <img src="../templates/images/DnD Classes/Wizard.png" alt="Wizard" id="wizardPic">

                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <p>
    <textarea rows="10" cols="36">Give them a story!
</textarea>
        <br>
    </p>
    <input type="submit">
</form>
</body>
</html>