div.gallery {
  margin: 5px;
  float: left;
  width: 180px;
  height: 300px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 2px;
  text-align: center;
  font-weight:bold;

}
#wizardPic{
   width: 55%;
   height: auto;
   align: center;

}